<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title> MissionControl-Login</title>
    <meta name="description" content="an example app implementing google oauth with passport">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <body background="https://static.tumblr.com/088e8c2ba04c4361ae2bb09a93921ef8/yl2oidf/I2soof9h7/tumblr_static_2od7ytzi5y0w8cwsc0wcg84ck_640_v2.png">
    <header>
      
       <center> <font size="5" color="#b366ff" font face="Georgia">
        
          <h1>Mission Control - Login</h1> </font> </center>
       
    </header>

    <main>
      <center>
       <button type="button" onclick=" class="container" href="/auth/google"> Log In with Google</button>
         <font size="4" color="#660066" font face="Georgia">
         *Note: You must have an Alta Vista School email to access this site*
    </font>
      </center>
      <center>
      <center> <img src="http://78.media.tumblr.com/723a4ffd0da69607c89159f078d9b251/tumblr_n3rt5kgony1tvc9kco1_500.png" 
                    alt=""></center>
      <left> <img src="https://static.tumblr.com/3adf8c8ab62663f217c7069a5e641983/kwfw3fx/Ibhnn9wen/tumblr_static_cno4bvr36zso4okg8wwk84ckw_640_v2.gif" width= "225" height="187.5"> 
      </left>
      <left> <img src="https://static.tumblr.com/3adf8c8ab62663f217c7069a5e641983/kwfw3fx/Ibhnn9wen/tumblr_static_cno4bvr36zso4okg8wwk84ckw_640_v2.gif" width= "225" height="187.5" >
      </left>
      <left> <img src="https://static.tumblr.com/3adf8c8ab62663f217c7069a5e641983/kwfw3fx/Ibhnn9wen/tumblr_static_cno4bvr36zso4okg8wwk84ckw_640_v2.gif" width= "225" height="187.5" >
      </left>
      <left> <img src="https://static.tumblr.com/3adf8c8ab62663f217c7069a5e641983/kwfw3fx/Ibhnn9wen/tumblr_static_cno4bvr36zso4okg8wwk84ckw_640_v2.gif" width= "225" height="187.5" >
      </left>
      <left> <img src="https://static.tumblr.com/3adf8c8ab62663f217c7069a5e641983/kwfw3fx/Ibhnn9wen/tumblr_static_cno4bvr36zso4okg8wwk84ckw_640_v2.gif" width= "225" height="187.5" >
      </left>
      </center>
      
    </main>

  </body>
  </head>
</html>
