<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title> MissionControl-Login</title>
    <meta name="description" content="an example app implementing google oauth with passport">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body background="https://static.tumblr.com/088e8c2ba04c4361ae2bb09a93921ef8/yl2oidf/I2soof9h7/tumblr_static_2od7ytzi5y0w8cwsc0wcg84ck_640_v2.png">
    <header>
      
      <font size="5" color="#b30047" font face="Comic Sans MS">
        <h1>Mission Control - Login</h1></font>
    </header>

    <main>
      <a class="container" href="/auth/google">Log In with Google</a>
         *Note: You must have an Alta Vista School email to acess this site*
    </main>

    <script src="https://button.glitch.me/button.js" data-style="glitch"></script>
    <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

  </body>
</html>
