<!DOCTYPE html>
<html>
  <head>
    <center>
    <title></title>
    <meta name="description" content="Mission Control Feed">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    </center> 
  </head>
  <body bgcolor="#f0fffd">
<center>
    <div class="topnav">
  <a class="active" href="#Feed"><font font face = "Georgia">Feed</font></a>
  <a href="#profile"><font font face = "Georgia">Profile</font></a>
  <a href="#classes"><font font face = "Georgia">Classes</font></a>
  <a href="#Log out"><font font face = "Georgia">Log Out</font></a>
       
</div>
  
  
    </center>
  
    <header>
      <h1>
        <center>
        <font color="#0e0023" font face="Georgia">Mission Control Feed</font>
        </center>
       
      </h1>
      
    </header>

    <main>
      <center>
      <p><font font face ="Georgia">Post a Question Below </font></p>
      <form>
        <input type="text" maxlength="100" placeholder="Post here">
        <button type="Post"> <font font face = "Georgia"> Post </font></button>
      </form>
      <section class="dreams">
        <button type="Upvote"><font font face = "Georgia">Upvote</font></button>
        <ul id="dreams">
        </ul>
      </section>
      </center>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    

  </body>
</html>