/* this file is loaded by screen1.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

img {
  height: 100%;
}

.libImg {
  height: 100%;
  max-height: 400px;
  width: 50%;
}

#login {
  display: flex;
  flex-direction: column;
  background: #365c85;
  height: 100%;
  width: 50%;
}

.centered {
  
}

#loginStartButton {
  background: white;
}
