/* this file is loaded by screen1.html and styles the page */

* {
  box-sizing: border-box;
}

html,body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: 100vh;
}



.libImg {
  width: 50%;
  height: 100vh;
}

#login {
  display: flex;
  flex-direction: column;
  background: #365c85;
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#lafLogo {
  margin: 0 0 5vh 0;
  
}


a {
  text-decoration: none;
}

#loginStartButton {
  background: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  border-radius: 7px;
  border: 0;
  margin: 10px;
  padding: 0;
  width: 40vh;
  height: 10vh;
}

#googleIcon {
/*   margin: 5px; */
  height: 8vh;
}

#googleText{
/*   margin: 20px; */
  font-family: 'Montserrat', sans-serif;
  font-size: large;
  color: #142a50;
}