/* this file is loaded by screen1.html and styles the page */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


main {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#libImg {
  
}

#login {
  display: flex;
  flex-direction: column;
}

.centered {
  
}

#loginStartButton {
  
}
