div {
    width: 300px;
    border: 25px solid purple;
    padding: 25px;
    margin: 25px;

    <a class="container" href="/auth/google">Log In with Google</a>
         <font size="4" font face="Georgia">
         *Note: You must have an Alta Vista School email to access this site*
    </font>
    }
